.animated-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-image: url("/custom_cur.webp");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  filter: drop-shadow(0 0 5px #39ff14);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  top: var(--cursor-y, 0px);
  left: var(--cursor-x, 0px);
}

.animated-cursor.visible {
  opacity: 1;
}
